planet.moe {
    root .
	redir 301 {
		if {path} is /
		/ /home
	}
	rewrite / {
		if {path} not_has /public
		to /public/index.html
	}
}
api.planet.moe {
    log
    header / {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Methods "GET, POST, PUT, DELETE, HEADER, OPTIONS"
        Access-Control-Allow-Headers "Authorization"
        -Server
    }
    proxy / localhost:6014 {
        transparent
    }
}