planet.moe {
    root .
	redir 301 {
		if {path} is /
		/ /home
	}
	rewrite / {
		if {path} not_has /public
		to /public/index.html
	}
}
api.planet.moe {
    proxy / localhost:6014 {
        transparent
    }
}